<nav>
  <div class="side_navbar">
    <span>Main Menu</span>
    <a href="/admin" class="active">Home</a>
    <a href="/admin/prop">Units</a>
    <a href="/admin/viewadmins">Admins</a>
    <a href="/admin/viewusers">Users</a>
    <a href="/admin/Top">Top Properties</a>
    <a href="/admin/chats">Chats</a>
    <a href="/user/logout">logout</a>
  </div>
</nav>