<nav>
    <div class="side_navbar">
      <span>Main Menu</span>
      <a href="/admin/header" class="active">Home</a>
      <a href="adminProp">Rents</a>
      <a href="admin/prop">Units</a>
      <a href="/admin/viewusers">Users</a>
      <a href="/adminweeklysummary">Weekly Summary</a>
      <a href="#">Top Properties</a>
      <a href="/admin/Chats">Chats</a>
    </div>
  </nav>