<nav>
  <div class="side_navbar">
    <span>Main Menu</span>
    <a href="/admin/header" class="active">Home</a>
    <a href="/admin/rents">Rents</a>
    <a href="/admin/prop">Units</a>
    <a href="/admin/viewadmins">Admins</a>
    <a href="/admin/viewusers">Users</a>
    <a href="/admin/adminweeklysummary">Weekly Summary</a>
    <a href="#">Top Properties</a>
    <a href="/admin/chats">Chats</a>
  </div>
</nav>
