<nav>
    <div class="side_navbar">
      <span>Main Menu</span>
      <a href="/adminHeader" class="active">Home</a>
      <a href="adminProp.html">Rents</a>
      <a href="/adminUnits">Units</a>
      <a href="/admin/viewusers">Users</a>
      <a href="#">Messages</a>
      <a href="/adminweeklysummary">Weekly Summary</a>
      <a href="#">Top Properties</a>
      <a href="/admin/Chats">Chats</a>
    </div>
  </nav>