
<!DOCTYPE html>
<html>
    <head>
<title> Chat </title>
<link rel="stylesheet" href="/CSS/chat.css">

<!-- <script type = "text/javascript" src="/js/chat.js"> -->
       <script defer src="/js/chat.js">
    </script>
<!-- </script> -->
    </head>
    <body>

<!-- <div class="chat-circle">
    <i class="fa fa-comments"></i>
    
  </div> -->
 
<button class="chat-circle" onclick="openForm()"></button>

<div class="chat-circle" id="myForm">  
        <div class="containerz">
            <div class="headerz">
                <h1>WebChat</h1>
            </div>
            <div class="bodyz">
                <div id="chatBody">
                    <p class="messagez">hello</p>
                <p id="gh" class="messagez user_message">Hi</p>
            </div>            
            </div>
            <div class="footerz">
                <form>
                    <input type="text" id="chatInput">
                  <button>
                        <img class="sendicon" src="/public/img/download.png" alt="send icon" onclick="sendMsg()">
                    </button>
                </form>
            </div>
        </div>
    </div>

    </body>
</html>