<html>

<head>
    <script defer src="js/search.js">
    </script>

    <link rel="stylesheet" href="/CSS/search.css">


</head>
<button class="searchfig" onclick="openFormfind()">
    <img class="searchicon" src="img/searchicon.jpg" alt="search icon"> </button>

<body>

    <div class="search-box" id="myFormfind" style="display:none;">
        <input type="text" placeholder="Search...">
        <button>
            search
            onclick="searchz()"
        </button>

    </div>


</body>



















</html>