<html>

<head>
    <script defer src="/js/search.js">
    </script>

    <link rel="stylesheet" href="/CSS/search.css">


</head>
<button class="searchfig" onclick="openFormfind()">
    <img class="searchicon" src="/img/iconsearch.jpg" alt="search icon"> </button>

<body>
    <form action="/user/search" method="get">
        <div class="search-box" id="myFormfind" style="display:none;">
            <input type="text" name="searchtext" placeholder="Search...">
            <button type="submit">
                search
            </button>
    </form>
    </div>


</body>



















</html>