.sendicon {
    width: 35px;
}

* {
    margin: 0;
    padding: 0;
    font-family: 'Times New Roman';
    box-sizing: border-box;
}

bodyz {
    height: 80vh;
    /*vh represents the viewport-percentage length unit based on the browser default viewport size */
    background-color: #e6f5ff;
    display: flex;
    /* justify-content: center; */
    align-items: center;

}

.containerz {
    width: 450px;
    height: 80vh;
    display: flex;
    flex-direction: column;
    box-shadow: 2px 2px 2px beige;
    background-color: beige;
}

.headerz h1 {
    color: black;
    padding: 10px;
    background-color: #ffffff;
}

.bodyz {
    flex: 1;
    color: black;
    background-color: beige;
    padding: 20px 30px;
}

.messagez {
    background-color: #0000FF;
    padding: 10px;
    color: white;
    width: fit-content;
    border-radius: 10px;
    margin-bottom: 15px;
}

.user_message {
    margin-left: auto;
    background-color: white;
    color: black;
}

.footerz {
    display: flex;
}

.inputz {
    flex: 6;
    height: 40px;
    width: 8cm;
    border: none;
    outline: none;
    padding-left: 5px;
    font-size: 16 px;
    background-color: #86c5d8;
    
}

button {
    width: 100px;
    font-size: 18px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
}

button:hoover {
    background-color: #0000FF;
    transition: 0.2s ease;

}

.chat-circle {
    position: fixed;
    bottom: 20px;
    left: 20px;
    border-radius: 50%;
    background-color: #007bff;
    color: #fff;
    width: 50px;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    float: left;
}

.chat-circle i {
    font-size: 24px;
}

.chat {
    position: fixed;
    align-items: center;
    right: 0;
}