/** {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

/*.paginationcontainer {
    width: 100%;
    height: 100vh;
    background: linear-gradient(45deg, blue, rgb(0, 208, 255));
    display: flex;
    align-items: center;
    justify-content: center;

}*/

.pagination {
    display: flex;
    align-items: center;
    background: white;
    color: black;
    padding: 10px 40px;
    border-radius: 6px;
}

ul {
    margin: 20px 30px;
}

ul .link {
    display: inline-block;
    margin: 0 10px;
    background: #ccc;
    width: 45px;
    height: 45px;
    border-radius: 50%;
    text-align: center;
    font-size: 22px;
    font-weight: 500;
    line-height: 45px;
    cursor: pointer;
    background-position: 0 -45px;
    transition:background-postion 0.5s;


}

.btn1,
.btn2 {
    display: inline-fllex;
    align-items: center;
    font-size: 22px;
    font-weight: 500;
    color: #383838;
    background: transparent;
    outline: none;
    border: none;
    cursor: pointer
}

.btn1 img {
    width: 24px;
    margin-right: 15px;

}

.btn2 img {
    width: 24px;
    margin-left: 15px;
    transform: rotate(180deg);

}
ul li.active{
    color:#fff;
    background-image: linear-gradient(red,red);
    background-repeat: no-repeat;
    background-position: 0 0;


}