.search-box {
  display: flex;
  align-items: center;
}

.search-box input[type="text"] {
  padding: 10px;
  font-size: 16px;
  border: none;
  border-radius: 5px 0 0 5px;
  width: 70%;
}

/* .search-box button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
    transition: background-color 0.3s ease;
  } */
  .searchicon{
    width: 25px;
    height: 25px;
  }
