<html>

<head>
    <title>About Us</title>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/CSS/stylesheet.css">
    <!-- <meta name="viewport" content="width=device-width, initial-scale=1,shrink-to-fit=yes"> -->
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <link rel="stylesheet" href="/CSS/footer.css">

</head>
<header>
    <%- include("../partials/Header") %>
        <%- include("../partials/localization") %>
</header>

<head>
    <style>
        .info {
            text-align: center;
            font-size: 18px;
            padding: 20px 20px;
        }
    </style>
</head>

<body>
    <center>
        <h1 style="font-size: 40px;text-align: center;">
            <strong>Our Company </strong>
        </h1>
        <p class="info">It all began with as a dream and a plan on a paper.Blue Rock Real-Estate Marketing and
            Investments has become a
            leading company in the real estate industry since 2019.
            <br>
            The company rapidly transformed itself into a full brand recognized for its unique business model and
            exclusive
            training system.The brand is known for its remarkable real estate agents who provide their clients with
            their
            exact needs.
        </p>
        <div>
            <img src="img/7.jpg" height="350px" width="450px">
        </div>
        <br>

        <h2 style="text-align: center;">What We've Been Up To</h2>
        <p class="info">With our dedicated professional team members, we have been able to deliver outstanding results
            in
            the past years.</p>
        <h2 style="text-align: center;">Mission</h2>
        <img src="img/8.jpg" style="align-content: center;" height="350px" width="450px">
        <h4>
            <p>Our Company aims to be at the forefront of property marketing, and the one company that best understands
                and meets
                the needs of real-estate buyers, lessors,<br> home owners, investors and developers.</p>
        </h4>
    </center>
    <br>
</body>


<%- include("../partials/footer") %>
    </body>
    <!-- End Footer Area -->


</html>