<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <title>Admin Dashboard</title>
  <link rel="stylesheet" href="/CSS/styleAdmin.css" />
  <!-- Font Awesome Cdn Link -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.2.0/css/all.min.css" />
</head>

<body>
  <header class="header">
    <div class="logo">
      <a href="#">The Company</a>
      <div class="search_box">
        <input type="text" placeholder="Search">
        <i class="fa-sharp fa-solid fa-magnifying-glass"></i>
      </div>
    </div>

    <div class="header-icons">
      <div class="account">
        <!-- <img src="./mostafa.jpg" alt=" image "> -->
        <h4>Admin</h4>
      </div>
    </div>
  </header>
  <div class="container">
    <nav>
      <div class="side_navbar">
        <span>Main Menu</span>
        <a href="#" class="active">Profile</a>
        <a href="adminProp.html">Rents</a>
        <a href="adminUnits.html">Units</a>
        <a href="adminUsers.html">Users</a>
        <a href="#">Messages</a>
        <a href="adminweeklysummary.html">Weekly Summary</a>
        <a href="#">Top Properties</a>

      </div>
    </nav>

    <div class="main-body">
      <h2>Dashboard</h2>
      <div class="promo_card">
        <h1>Welcome Seif Nasser </h1>
        <span>This is the Admin Dashboard</span>
        <!-- <button>Learn More</button> -->
      </div>
      <div class="main-body">
        <h2>Dashboard</h2>
        <div class="promo_card">
          <h1>Welcome Seif Nasser </h1>
          <span>This is the Admin Dashboard</span>
          <!-- <button>Learn More</button> -->
        </div>
        <div class="main-body">
          <h2>Dashboard</h2>
          <div class="promo_card">
            <h1>Welcome Seif Nasser </h1>
            <span>This is the Admin Dashboard</span>
            <!-- <button>Learn More</button> -->
          </div>


        </div>
      </div>
</body>

</html>