
<!DOCTYPE html>
<html>
    <head>
        <title> Edit user</title>
    <link rel="stylesheet" type="text/css" href="/css/editprofilecss.css"> 
    </head>
    <body>
        <center>
        <div class="Box">
            <img class="profile" src=" ">
            <input type="file" name=" " id="file" accept="image/*">
           <label class="photo" for="file"><img class="pen" src="./pencil.png"></label>
           <div class="input">
           <input type="text" name="" placeholder="First Name">
        </div>
           <div class="input">
           <input type="text" name="" placeholder="Last Name">
        </div>
           <div class="input">
           <input type="text" name="" placeholder="username">
        </div>
           <div class="input">
           <input type="email" name="" placeholder="Email">
        </div>
        <div class="input">
           <input type="date" name="" placeholder="Date of birth">
        </div>
    <div>
        <label>Gender</label><br>
        <input type="radio" name="gender"> Male 
        <input type="radio" name="gender"> Female
    </div>
    <a href="#"> Change password </a>
    <br>
            <button> Done</button>
           
        </div>
        </center>
    </body>
</html>