<html>
<head>
    <script defer src="js/search.js">
    </script>

<link rel="stylesheet" href="/CSS/search.css">


</head>

<body>
    <div class="search-box">
        <input type="text" placeholder="Search...">
        <button>Search</button>
      </div>
</body>



















</html>